---
layout: default
robots: noindex
---

<div >


        
        <p> An experienced computer engineer with passion towards  AI and Big Data. Works as a deep learning researcher in Computer Vision, Reinforcement Learning and Image Processing in autonomous driving field. Taking part in deep learning publications for improving autonomous driving, image abstraction and data analysis.</p>
 <p>
Previously, worked on hardware deployment for computer vision on different security related applications. Worked on medical data for breast cancer detection system. Worked in Super resolution Applications.</p>
<p>
In my free time, I am a photographer. I also do calisthenics.</p>
 


  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
